<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cc392a9d-409a-4802-9afc-84d5285223f1/resourceGroups/learner-rg/providers/Microsoft.Web/sites/backEnd20250929151252</ResourceId>
    <ResourceGroup>learner-rg</ResourceGroup>
    <ApiResourceId>/subscriptions/cc392a9d-409a-4802-9afc-84d5285223f1/resourceGroups/learner-rg/providers/Microsoft.ApiManagement/service/backEndsApi/apis/backEnd</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://backend20250929151252-euckazbch2hwcte9.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>3293e86e-7a99-49e1-8d6a-b3e6b6304b36</ProjectGuid>
    <PublishUrl>https://backend20250929151252-euckazbch2hwcte9.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>